.main-header {
    color: white;
}

.main-wrapper {
    margin: 0 auto;
    min-height: 600px;
}

.spin-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-wrapper {
    display: flex;
}

.add-details-form {
    padding: 10px;
}

/* .add-category-card {
    width: 800px;;
} */